<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <h1 class="navbar-brand fs-1 fw-bolder text-light">Sprencia</h1>

    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon text-dark"></span>
    </button>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link fs-6 badge" data-bs-dismiss="offcanvas" [routerLink]="['/home']">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link fs-6 badge" data-bs-dismiss="offcanvas" [routerLink]="['/actividades']">Actividades</a>
          </li>

          <li class="nav-item">
            <a class="nav-link fs-6 badge" data-bs-dismiss="offcanvas" [routerLink]="['/login']"
              *ngIf="!usersService.isLogged()">
              Acceder/Registro</a>
          </li>


          <li class="nav-item">
            <a class="nav-link fs-6 badge" data-bs-dismiss="offcanvas" [routerLink]="['/dashboard']"
              *ngIf="usersService.isAdmin() && usersService.isLogged()">
              Dashboard</a>
          </li>

          <li class="nav-item">
            <a class="nav-link fs-6 badge" data-bs-dismiss="offcanvas" [routerLink]="['/crear-admin']"
              *ngIf="usersService.isAdmin() && usersService.isLogged()">
              Registrar Admin</a>
          </li>

          <li class="nav-item">
            <a class="nav-link fs-6 badge" data-bs-dismiss="offcanvas" [routerLink]="['/perfil']"
              *ngIf="!usersService.isAdmin() && usersService.isLogged()">
              Perfil</a>
          </li>

          <li class="nav-item"><a class="nav-link fs-6 badge" data-bs-dismiss="offcanvas" [routerLink]="['/home']"
              (click)="logout()" *ngIf="usersService.isLogged()">Logout</a>
          </li>

        </ul>
      </div>
    </div>
  </div>
</nav>