.carousel-inner {
  border: none;
  width: 60%;
  border-radius: 15px;
  display: block;
  margin: auto;
}

.text {
  text-align: center;
  font-style: italic;
  font-size: 1rem;
  color: #5a5757;
  margin: 5px;
  padding: 10px;

}

h3 {
  font-size: 0.8rem;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  color: rgba(2, 3, 2, 0.91);

}

img {
  display: block;
  margin: auto;
  border: none;
  border-radius: 30%;
  box-shadow: inset 1px 1px 1px rgba(255, 252, 252, 0.789);
}