<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner mb-3">
    <div class="carousel-item active">
      <p class="text">
        <strong>ARTE:</strong> Estupendas sus contextualizaciones históricas y
        la manera tan amena en la que comparte sus conocimientos de arte. Curso
        para aprender y disfrutar.
      </p>
      <img src="https://picsum.photos/id/27/95" class="d-block" alt="opinion1" />
      <h3 class="mt-2">Emily</h3>
    </div>
    <div class="carousel-item">
      <p class="text">
        <strong>CIENCIAS:</strong>
        Ciencia es descubrir y entender el mundo, nunca dejar de ser curiosos y,
        sobre todo, preguntarse el porqué de las cosas.
      </p>
      <img src="https://picsum.photos/id/91/95" class="d-block" alt="opinion2" />
      <h3>Emma</h3>
    </div>
    <div class="carousel-item">
      <p class="text">
        <strong>FILOSOFIA:</strong> Con la filosofia aprendemos a pensar, a
        cuestionar y a sacar conclusiones aplicando respuestas criticas a los
        probemas cotidianos.
      </p>
      <img src="https://picsum.photos/id/64/95" class="d-block" alt="opinion3" />
      <h3>Isabella</h3>
    </div>
    <div class="carousel-item">
      <p class="text">
        <strong>DECORACION:</strong> Estoy satisfecho con el curso y la
        posibilidad de contar con mi tutor para cualquier cosa, pero me hubiera
        gustado ver más vídeos y otros ejercicios.
      </p>
      <img src="https://picsum.photos/id/1/95" class="d-block" alt="opinion4" />
      <h3>Pietro</h3>
    </div>
    <div class="carousel-item">
      <p class="text">
        <strong>MODA:</strong> Muy buena experiencia. Escuela de trato muy
        cercano Las clases online se pueden seguir muy bien y siempre te sientes
        integrado en el grupo presencial.
      </p>
      <img src="https://picsum.photos/id/64/95" class="d-block" alt="opinion5" />
      <h3>Martina</h3>
    </div>
  </div>
</div>